.Myclass{
    text-decoration: line-through;
    color: #07d005;
}


.CPM-bg-orange{
    background-color: orange;
}

.CPM-color-green{
    color: #4e6940;
}

.CPM-list{
    background-color: rgba(112, 49, 93, 0.3);
}

body{
    background-color: #efefef;
}

img{
    width: 40px;
    height: 40px;
}